@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&display=swap');


#root{
    --button-color: #C2E7FF;
    --button-hover: rgb(131, 131, 211);
    --box-color: #ffffff;
    --text-color: #81898D;

}

body{
    margin: 1;
    padding: 0;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.loadingPage{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(11, 20, 155, 0.5);
    
}





@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .textLoading {
    animation: blink 1s infinite;
  }

.bxs-sun{
    width: 150px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 5s linear infinite;
    
    
}

@keyframes spin {
    0% {
transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
transform: translate(-50%, -50%) rotate(360deg);
    }
}

.App{
margin: 0;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Nunito Sans', sans-serif;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: 100vh;

}


.appimage{
    width: 100%;
}

img{
width: 100%;
}



li{
    list-style: none;

}

.sun{
    width: 25px;

}

.icons{
    width: 150px;
    height: 150px;
}

.icons {

    animation: moveLeftRight 1s ease-in-out infinite;

}

@keyframes moveLeftRight {
    0% {
    transform: translateX(0px);
    }
    50% {
    transform: translateX(-5px);
    }
    100% {
    transform: translateX(0);
    }
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.card{
    background-color: rgba(40, 38, 175, 0.61);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    border-radius: 10px;
    max-width: 380px;
    min-width: 380px;
    max-height: 380px;
    min-height:380px;
    

}



button {
    cursor: pointer;

    background-color: rgb(38, 78, 151);
    border: none;
    color: beige;




padding: 0.7rem 1rem 0.7rem 1rem;
border-radius: 0.3rem;

-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.59);
}

button:hover{
    background-color: rgba(99, 182, 182, 0.767);
    color: black;
}

.cardInfo{
display: flex;
flex-direction: row;
align-items: center;
margin-right: 1rem;

}

h1, h2, h3, p, b{
    color: white;
}

h1{
    margin-top: 1rem;
    
}

h2{
    font-size: 20px;
}

h3{
    font-size: 18px;
    margin-bottom: 2rem;
}


ul{
    font-size: 15px;
display: flex;
flex-direction: column;
gap: 0.3rem;

    
}

b{
font-weight: 800;
float: right;
margin-left: 20px;

}


.pieinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    bottom: 30px;
}

h4{
    font-size: 30px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;

 top: -100px; 

 }

input{

padding: 0.3rem;

border-radius: 5px;
border: none;
border-color: blue;
}

.alertError{
padding: 0.1rem 1rem 0.1rem 1rem;
background-color: rgb(255, 255, 255);
border-radius: 1rem;
position: absolute;
bottom: 100px;
display: flex;
gap: 0.5rem;
align-items: center;
color: black;
}

.buttonSubmit{
    padding: 0.3rem 1rem 0.3rem 1rem;
}